# General dependencies
jupyter-book==1.0.3
numpy
pandas
matplotlib
seaborn
plotly
nilearn

# For the statistics sessions
statsmodels
pingouin
factor_analyzer
semopy
ucimlrepo
graphviz
jupyterquiz
ISLP
scikit-learn==1.5